*{ 
    padding:0; 
    margin: 0;
}

html{
    scroll-behavior: smooth;
    user-select: none;
}

body{ 
    height:100vh;
    width:100vw;
    display: grid;
    place-content: center;
    text-align: center;
    overflow: hidden;
}

canvas{ 
    border:solid 1px black;
    background:black;
}

.score-board{ 
    position:absolute;
    top:10px;
    left:10px;
    height:30px;
    width:150px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight:bold;
    color:white;
    font-size:2rem
}

.score-board::before{
    content:"Body: "
}

.countdown{ 
    position:absolute;
    top:10px;
    right:10px;
    height:30px;
    width:150px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight:bold;
    color:white;
    font-size:1.5rem
}

.countdown::before{
    content:"Zbývá:  "
}

.countdown::after{ 
    content: " s"
}

@keyframes result {
    0%{
        transform:scale(1)
    }
    50%{
        transform:scale(1.5)
    }
    100%{
        transform:scale(1)
    }
}

.get-result{
    position:absolute;
    bottom:20%;
    left:40%;
    transform-origin: center;
    transform:translate(-50%, -50%);
    background:blue;
    color:white;
    cursor:pointer;
    border:none;
    font-size:2rem;
    font-weight:bold;
    padding:20px;
    border-radius:30px;
    box-shadow:0 0 10px 5px white;
    animation:result 1s linear infinite
}

.final-image{ 
    transform: scale(0.5);
}